@{
    ViewBag.Title = "Token values";
}

<br/>
<p>
    <strong>Identity token:</strong>
    <pre>@ViewBag.IdentityTokenParsed</pre>
</p>

<p>
    <strong>Access token:</strong>
    <pre>@ViewBag.AccessTokenParsed</pre>
</p>

<p>
    <strong>Refresh token:</strong>
    <br />
    @ViewBag.RefreshToken
</p>

