@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OAuth Authorization Code Flow Demo with Okta</h1>
    <p class="lead">This web application demonstrates how you can implement OAuth with ASP.NET MVC, Okta and the Microsoft OpenID Connect OWIN middleware.</p>
    <p><a href="/Callback/Tokens" class="btn btn-primary btn-lg">Click here to sign in</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Learn how to write OpenID Connect applications with Okta. We provide an API, as well as a ton of code samples!
        </p>
        <p><a class="btn btn-default" href="http://developer.okta.com/docs/api/resources/oidc.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>OAuth 2.0 with Okta</h2>
        <p>Already an OpenID Connect expert? Learn how you can leverage OAuth 2.0 with Okta</p>
        <p><a class="btn btn-default" href="http://developer.okta.com/docs/api/resources/oauth2.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Okta Auth JS SDK</h2>
        <p>The Okta Authentication JavaScript SDK is the perfect framework to get started quickly with OpenID Connect and OAuth on Okta!</p>
        <p><a class="btn btn-default" href="http://developer.okta.com/docs/guides/okta_auth_sdk">Learn more &raquo;</a></p>
    </div>
</div>